@font-face {
  font-family: 'BrevScript';
  src: url('BrevScript.ttf') format('truetype');
 }

 body {
	margin: 0;
	background-color: #5CA0A8;
}

a {
	text-decoration: none;
	color: white;
}

h1 {
	color: #DEECF7;
	padding: 0px;
	font-size: 10em;
	font-family:  'BrevScript';
	font-weight: lighter;
	padding: 100px;

}

